.message-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 700;
    border: 1px solid black;
    // position: absolute;
    // bottom: -31px;
}

.published {
    color: black;
    background-color: #b8e823;
}

.accepted {
    color: black;
    background-color: #9ddcec;
}

.submitted {
    color: black;
    background-color: #fff406;
}

.verified {
    color: white;
    background-color: #ca3eb6;
}

.rejected {
    color: white;
    background-color: #ef2229;
}

.high {
    // background-color: #13c2bb;
    background-color: #c33d01;
    color: white;
    font-weight: 500;
}

.medium {
    // background-color: #5bebef;
    background-color: #74563e;
    color: white;
    font-weight: 500;
}

.low {
    // background-color: #c9ecef;
    background-color: #fbd158;
    color: black;
    font-weight: 500;
}

// .date-posted {
//     position: absolute;
//     bottom: -33px;
//     right: 0px;
// }

.bigmint-logo {
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.icon-toolbar {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;

    ng-icon {
        margin-left: 5px;
        cursor: pointer;
    }
}

.load-more {
    width: 145px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: gray;
    border: none;
    color: #fff;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.date-range {
    background-color: #373737;
    color: white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    outline: none;
    border: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

.name-chip {
    padding: 3px;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
    background-color: #00000085;
    border-radius: 20px;
}

.option-tooltip {
    padding: 3px;
    padding-left: 5px;
    padding-right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5215686275);
    border-radius: 20px;
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.hide {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px !important;
}

::ng-deep .mat-mdc-select-value {
    color: #74563e;
}

.notification-icon {
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: #ff8f00;
    border-radius: 50%;
    padding: 10px;
    padding-bottom: 8px;
    span{
        font-size: 10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        top: -4px;
        right: 0px;
        text-align: center;
        font-weight: 700;
    }
    mat-icon {
        color: white;
    }
}

.filter-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-left: 5px;
        megin-right: 5px;
        background-color: #f0a81c;
    }

    .cancel {
        background-color: #ef2229 !important;
        color: white !important;
    }

    .clear {
        background-color: #74563e !important;
        color: white !important;
    }
}